<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gestione_Fatture_e_Listini.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Gestione_Fatture_e_Listini.My.MySettings>
            <setting name="UltimaCartellaPDF" serializeAs="String">
                <value>\\padaniafile.padania.local\piazza\Guardamiglio\11 - UFFICIO FORNITORI\FORNITORI\LISTINI E PROMO FORNITORI</value>
            </setting>
            <setting name="CartellaZip" serializeAs="String">
                <value>C:\appoggio\MD FATTURE\ZIP</value>
            </setting>
            <setting name="CartellaDecompressi" serializeAs="String">
                <value>C:\appoggio\MD FATTURE\P7M</value>
            </setting>
            <setting name="CartellaXmlPronti" serializeAs="String">
                <value>C:\appoggio\MD FATTURE\XML</value>
            </setting>
            <setting name="CartellaBackup" serializeAs="String">
                <value>C:\appoggio\MD FATTURE\BACKUPXML</value>
            </setting>
            <setting name="CartellaDoppi" serializeAs="String">
                <value>C:\appoggio\MD FATTURE\XMLDOPPI</value>
            </setting>
            <setting name="ScostamentoAccettabile" serializeAs="String">
                <value>0.02</value>
            </setting>
        </Gestione_Fatture_e_Listini.My.MySettings>
    </userSettings>
</configuration>
